@font-face {
    font-family: "Kanit";
    src: url("fonts/Kanit-Medium.ttf") format("truetype");
}

main {
    flex-grow: 1;
}

body {
    font-family: "Kanit", Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    margin: 0;
    background-color: #FFFFFF
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

nav {
    display: none;
    position: fixed;
    top: 45px;
    z-index: 1000;
    right: 0px;
}

li {
    display: block;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

.fa-bars {
    width: 18px;
    color:#055455
}

ul {
    list-style: none;
    display: flex;
}

li a {
    color: #055455;
    text-decoration: none;
}

.expl:hover {
    color: #0d847e;
}

.welcome {
    background: url("images/exhibition-1863344_1920.jpg") center bottom no-repeat;
    background-size: cover;
    min-height: 65vh;
    position: relative;
    background-position-x: center;
    background-position-y: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cta_visit {
    text-decoration: none;
    color: #070707;
    border-style: solid;
    background-color: #F2A900;
    border-color: #ffffff;
    border-width: 1.5px;
}

.cta_visit:hover {
    transition: 0.5s;
    background-color:bisque;
}

h1 {
    color: #ffffff;
    text-shadow: #070707 1.5px -1px; 
    margin-top: 150px;   
}

.cta_exhibition:hover, .cta_events:hover {
    transition: 0.5s;
    background-color: #508cd5;
}

.cta_exhibition, .cta_events {
    text-decoration: none;
    background-color: #2E70BE;
    color: #ffffff;
    text-shadow: #070707 1px -1px; 
}

/* Visit Page */

h2 {
    display: flex;
    justify-content: center;
}

h3 {
    display: flex;
    color: #2E70BE;
}

.days {
    font-size: 14px;
}

/* Explore page */

h4 {
    text-decoration: none;
    background-color: #2E70BE;
    color: #ffffff;
    letter-spacing: 2px;
    justify-content: left;
}

.fr_kid {
    color:#2E70BE;
    letter-spacing: 0.1rem;
    font-weight: 500;
}

.for__kids, .for__teachers, .researchers {
    display: flex;
}

.box {
    margin: 0 auto;
}

.photo {
    margin-top: 20px;
}

.for__kid {
    margin-top: 20px;
    color: #212529;
    background-color: aliceblue;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc; 
    border-left: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
}

/* Get Involved */

.get_involved_photo {
    background: url("images/andrew-ruiz-348421\ \(1\).jpg") center bottom no-repeat;
    background-size: cover;
    min-height: 55vh;
    position: relative;
    background-position-x: center;
    background-position-y: top;
    display: flex;
    justify-content: center;
}

.get_inv {
    margin-top: 250px;
}

.gt_sup {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;

}

.support, .support_2, .support_3 {
    background-color: #2E70BE;
    color: #ffffff;
    padding: 30px 70px;
    margin-left: 30px;
    margin-right: 100px;

}

/* Footer */

footer {
    margin-top: 120px;
    background-color: #055455;
    padding: 40px 50px;
    color: #ffffff;
    letter-spacing: 1.2px;
}

.ft-all {
    display: flex;
    flex-direction: row;
}

.social_media a {
    color: #FFFFFF;
    text-decoration: none;

}

#ver_line {
    margin-left: 30px;
    height: 120px;
    border-right: 1px solid rgb(155, 236, 220);
}

.fa-square-instagram, .fa-square-twitter, .fa-square-facebook {
    color: #FFFFFF;
    margin-right: 5px;
}

/* Media Queries - Home Page */
@media (min-width: 400px) {
    .logo {
        width: 280px;
        padding-left: 50px;  
    }

    li a {
        font-size: 0.8rem;
    }

    h1 {
        font-size: 1.8rem;
    }

    nav ul {
        display: block;
        padding: 20px 10px;
        background-color:#FFFFFF;
        font-size: 20px;
    }


    .cta_visit {
        padding: 0 100px;
        font-size: 1rem;
    }

    .blue_cta {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        align-items: center;
        margin-top: 50px;
    }

    .cta_exhibition, .cta_events {
        display: flex;
        padding: 40px 80px 40px 80px;
        font-size: 0.8rem;
    }

    .cta_events {
        letter-spacing: 1.8px;
    }

    .cta_exhibition {
        letter-spacing: 0.6px;
    } 

    .days {
        margin-left: 40px;
    }

    .ft-all {
        justify-content: space-around;                               
    }

    .col-ft, .social_media {
        font-size: 13px;
    }

    #ver_line {
        display: none;
    }
}

@media (min-width: 600px){
    .logo {
        width: 270px;
        padding-left: 50px;
        padding-right: 0px;
    }

    li a {
        font-size: 16px;
        margin: 0 10px;
        padding-left: 0px;
    }

    header {
        padding-right: 30px;
    }

    h1 {
        font-size: 2.6rem;
    }

    nav {
        display: block;
        position: static;
    }

    nav li {
        display: inline-block;
    }

    header label {
        display: none;
    }

    .cta_visit {
        padding: 0 130px;
        font-size: 1.2rem;
    }

    .blue_cta {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 80px;
    }

    .cta_exhibition, .cta_events {
        padding: 40px 75px 40px 75px;
        font-size: 1.1rem;
    }

    .ft-all {
        justify-content: space-around;
    }

    .col-ft, .social_media {
        font-size: 16px;
    }

    #ver_line {
        display: flex;
    }
}

@media (min-width: 800px){
    .logo {
        width: 330px;
        padding-left: 120px;
    }

    li a {
        font-size: 16px;
        margin: 0 5px;
    }

    header {
        padding-right: 120px;
    }

    h1 {
        font-size: 3.6rem;
    }

    nav {
        display: flex;
    }
    
    .fa-bars {
        display: none;
    }

    .cta_visit {
        padding: 0 130px;
        font-size: 1.5rem;
    }

    .blue_cta {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 80px;
        align-items: center;
    }

    .cta_exhibition, .cta_events {
        padding: 50px 90px 50px 90px;
        font-size: 1.7rem;
    }

    .ft-all {
        justify-content: space-evenly;
    }

    .col-ft, .social_media {
        font-size: 18px;
    }

    #ver_line {
        display: flex;
    }
}

/* Media Queries - Visit Page */
@media (min-width: 400px) {
    h2 {
        font-size: 1.5rem;
    }

    .visit__text, .location_address {
        font-size: 80%;
        line-height: 20px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .museum {
        max-width: 380px;
        margin-top: 20px;
        margin-left: 40px;
    }
}

@media (min-width: 600px) {
    h2 {
        font-size: 2.6rem;
    }

    .visit__text, .location_address {
        font-size: 100%;
        line-height: 30px;
    }

    .museum {
        max-width: 460px;
        margin-top: 20px;
    }
}

@media (min-width: 800px) {
    h2 {
        font-size: 3.5rem;
    }

    .visit__text, .location_address {
        font-size: 100%;
        line-height: 30px;
        display: flex;
        margin: 0 auto;
        max-width: 750px;
        flex-direction: column;
        }

    .museum {
        max-width: 530px;
        margin-top: 20px;
    }

    .visit_museum {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .museum_photo {
        display: flex;
        column-gap: 30px;
        justify-content: center;
    }
}

/* Media Queries - Explore Page */

@media (min-width: 400px) {
    h4 {
        display: flex;
        font-size: 2rem;
        padding: 20px 20px;
        margin: 0 60px;
    }

    .for__kid {
        padding: 0px 10px 5px;
        font-size: 12px;   
        width: 360px; 
        margin-top: -10px;
    }

    .fr_kid {
        font-size: 16px;
    }

    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .photo {
        width: 381px;
        height: 240px;  
    }

}

@media (min-width: 600px) {
    h4 {
        font-size: 2.6rem;
        padding: 30px 40px;
        margin: 0 60px;
    }

    .box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
        height: 301px;

    }

    .for__kid {
        border-top: 1px solid #cccccc;
        border-left: 1px solid #cccccc;
        padding: 5px 25px 5px 21px;
        height: 193px;
        font-size: 0.7rem;
        line-height: 0.8;
        margin-top: 14px;
        border-top: 3px solid rgb(76, 76, 149); 
    }

    .for__kid p {
        margin: 10px auto;
        max-width: 600px;
        line-height: 1.5;
    }

    .fr_kid {
        font-size: 18px;
    }

    .photo {
        width: 200px;
        height: 205px;
    }

}

@media (min-width: 800px) {
    h4 {
        font-size: 3rem;
        padding: 50px 40px;
        margin: 0 140px;
    }

    h4, .for__kid, .box {
        width: 900px;
    }

    .box {
        display: flex;
        flex-direction: row;
        height: 280px;
    }

    .for__kid {
        margin-top: 14px;
        word-spacing: 1px;
        line-height: 0.3;
        padding: 5px 25px 0px 20px;
        font-size: 0.8rem;
        height: 242px;
        border-top: 3px solid rgb(76, 76, 149); 
    }

    .fr_kid {
        font-size: 20px;
    }

    .for__kid p {
        margin: 18px auto;
        padding-bottom: 10px;
    }

    .photo {
        width: 280px;
        height: 250px;
    }
}

/* Media queries - Exhibition Spaces */









