@font-face {
    font-family: "Kanit";
    src: url("fonts/Kanit-Medium.ttf") format("truetype")
}

main {
    flex-grow: 1;
}

body {
    font-family: "Kanit", Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    margin: 0;
    background-color: #FFFFFF
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
}

li a {
    color: #055455;
    text-decoration: none;
    margin: 0 20px;
}

.expl:hover {
    color: #0d847e;
}

.welcome {
    background: url("images/exhibition-1863344_1920.jpg") center bottom no-repeat;
    background-size: cover;
    min-height: 65vh;
    position: relative;
    background-position-x: center;
    background-position-y: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cta_visit {
    text-decoration: none;
    color: #070707;
    border-style: solid;
    background-color: #F2A900;
    border-color: #ffffff;
    border-width: 1.5px;
}

.cta_visit:hover {
    transition: 0.5s;
    background-color:bisque;
}

h1 {
    color: #ffffff;
    text-shadow: #070707 1.5px -1px; 
    margin-top: 150px;   
}

.cta_exhibition:hover, .cta_events:hover {
    transition: 0.5s;
    background-color: #508cd5;
}

.cta_exhibition, .cta_events {
    text-decoration: none;
    background-color: #2E70BE;
    color: #ffffff;
    text-shadow: #070707 1px -1px; 
}

/* Visit Page */

h2 {
    display: flex;
    justify-content: center;
}

h3 {
    display: flex;
    color: #2E70BE;
}

.days {
    font-size: 14px;
}

/* Explore page */

h4 {
    text-decoration: none;
    font-size: 3rem;
    background-color: #2E70BE;
    color: #ffffff;
    padding: 50px 40px;
    margin: 0 140px;
    letter-spacing: 2px;
}

.kids, .library, .researchers {
    max-width: 280px;
    padding-left: 0px;
    padding-right: 20px;
}

.kids, .researchers, .library {
    margin-left: 0px;
}

.explore {
    display: flex;
    flex-wrap: wrap;
}

.for__kids {
    display: flex;
    background-color: aliceblue;
    border-top: 3px solid rgb(76, 76, 149);
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 0px;
    margin: 0 140px;
    font-size: 15px;
    align-items: center;   
}

.for__kids p {
    margin-right: 30px;
    line-height: 1.6;
}

.text {
    display: flex;
    font-size: 20px;
    justify-content: center;
    margin-top: 50px;
    margin-left: 140px;
    margin-bottom: 0px;
}

/* Get Involved */

.get_involved_photo {
    background: url("images/andrew-ruiz-348421\ \(1\).jpg") center bottom no-repeat;
    background-size: cover;
    min-height: 55vh;
    position: relative;
    background-position-x: center;
    background-position-y: top;
    display: flex;
    justify-content: center;
}

.get_inv {
    margin-top: 250px;
}

.gt_sup {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;

}

.support, .support_2, .support_3 {
    background-color: #2E70BE;
    color: #ffffff;
    padding: 30px 70px;
    margin-left: 30px;
    margin-right: 100px;

}

/* Footer */

footer {
    margin-top: 120px;
    background-color: #055455;
    padding: 40px 50px;
    color: #ffffff;
}

.ft-all {
    display: flex;
    flex-direction: row;
}

.social_media {
    padding-left: 40px;
}

#ver_line {
    margin-left: 30px;
    height: 150px;
    border-right: 1px solid rgb(155, 236, 220);
}

/* Media Queries - Home Page */
@media screen and (min-width: 400px){
    .logo {
        width: 250px;
        padding-left: 50px;  
    }

    li a {
        font-size: 0.8rem;
    }

    h1 {
        font-size: 2rem;
    }

    .cta_visit {
        padding: 0 100px;
        font-size: 1rem;
    }

    .blue_cta {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        align-items: center;
        margin-top: 50px;
    }

    .cta_exhibition, .cta_events {
        display: flex;
        padding: 40px 80px 40px 80px;
        font-size: 0.8rem;
    }

    .cta_events {
        letter-spacing: 1.8px;
    }

    .cta_exhibition {
        letter-spacing: 0.6px;
    } 

    .days {
        margin-left: 40px;
    }
}

@media (min-width: 600px){
    .logo {
        width: 320px;
        padding-left: 70px;
    }

    li a {
        font-size: 1.1rem;
    }

    header {
        padding-right: 30px;
    }

    h1 {
        font-size: 3rem;
    }

    .cta_visit {
        padding: 0 130px;
        font-size: 1.2rem;
    }

    .blue_cta {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 100px;
    }

    .cta_exhibition, .cta_events {
        padding: 40px 100px 40px 100px;
        font-size: 1.1rem;
    }
}

@media (min-width: 800px){
    .logo {
        width:400px;
        padding-left: 120px;
    }

    li a {
        font-size: 1.5rem;
    }

    header {
        padding-right: 120px;
    }

    h1 {
        font-size: 4.5rem;
    }

    .cta_visit {
        padding: 0 130px;
        font-size: 1.5rem;
    }

    .blue_cta {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 80px;
        align-items: center;
    }

    .cta_exhibition, .cta_events {
        padding: 60px 200px 60px 200px;
        font-size: 1.7rem;
    }
}

/* Media Queries - Visit Page */
@media (min-width: 400px) {
    h2 {
        font-size: 1.5rem;
    }

    .visit__text, .location_address {
        font-size: 80%;
        line-height: 20px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .museum {
        max-width: 380px;
        margin-top: 20px;
        margin-left: 40px;
    }
}

@media (min-width: 600px) {
    h2 {
        font-size: 2.6rem;
    }

    .visit__text, .location_address {
        font-size: 100%;
        line-height: 30px;
    }

    .museum {
        max-width: 460px;
        margin-top: 20px;
    }
}

@media (min-width: 800px) {
    h2 {
        font-size: 3.5rem;
    }

    .visit__text, .location_address {
        font-size: 100%;
        line-height: 30px;
        display: flex;
        margin: 0 auto;
        max-width: 750px;
        flex-direction: column;
        }

    .museum {
        max-width: 530px;
        margin-top: 20px;
    }

    .visit_museum {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .museum_photo {
        display: flex;
        column-gap: 30px;
        justify-content: center;
    }
}











