@font-face {
    font-family: "Kanit";
    src: url("fonts/Kanit-Medium.ttf") format("truetype")
}

main {
    flex-grow: 1;
}

body {
    font-family: "Kanit", Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    margin: 0;
}

.logo {
    width: 400px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 120px;
    padding-left: 120px;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
}

li a {
    color: #055455;
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.5rem;
}

.welcome {
    background: url("images/exhibition-1863344_1920.jpg") center bottom no-repeat;
    background-size: cover;
    min-height: 65vh;
    position: relative;
    background-position-x: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cta_visit {
    text-decoration: none;
    color: #070707;
    border-style: solid;
    background-color: #F2A900;
    border-color: #ffffff;
    border-width: 1.5px;
    padding: 0 130px;
    font-size: 1.5rem;
}

.cta_visit:hover {
    transition: 0.5s;
    background-color:bisque;
}

h1 {
    color: #ffffff;
    font-size: 4rem;
    text-shadow: #070707 1.5px -1px;    
}

.blue_cta {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.cta_exhibition:hover, .cta_events:hover {
    transition: 0.5s;
    background-color: #508cd5;
}

.cta_exhibition, .cta_events {
    text-decoration: none;
    font-size: 1.7rem;
    background-color: #2E70BE;
    color: #ffffff;
    padding: 60px 200px 60px 200px;
    text-shadow: #070707 1px -1px; 
}

footer {
    margin-top: 100px;
    background-color: #055455;
    padding: 40px;  
}

/* Visit Page */

.visit_museum {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.museum {
    max-width: 530px;
    margin-top: 20px;
}

.museum_photo {
    display: flex;
    column-gap: 30px;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
}

.visit__text, .location_address {
    display: flex;
    margin: 0 auto;
    max-width: 750px;
    font-size: 100%;
    line-height: 30px;
    flex-direction: column;
}

h3 {
    display: flex;
    color: #2E70BE;
}

.days {
    font-size: 14px;
}

/* Explore page */

h4 {
    text-decoration: none;
    font-size: 3rem;
    background-color: #2E70BE;
    color: #ffffff;
    padding: 50px 40px;
    margin: 0 140px;
    letter-spacing: 2px;
}

.kids, .library, .researchers {
    max-width: 280px;
    padding-left: 0px;
    padding-right: 20px;
}

.kids, .researchers, .library {
    margin-left: 0px;
}

.explore {
    display: flex;
    flex-wrap: wrap;
}

.for__kids {
    display: flex;
    background-color: aliceblue;
    border-top: 3px solid rgb(76, 76, 149);
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 0px;
    margin: 0 140px;
    font-size: 15px;
    align-items: center;   
}

.for__kids p {
    margin-right: 30px;
}

.text {
    display: flex;
    font-size: 20px;
    justify-content: center;
    margin-top: 50px;
    margin-left: 140px;
    margin-bottom: 0px;
}

/* Footer */

footer {
    display: flex;
    color: #ffffff;
}

.ft-all {
    display: flex;
    flex-direction: row;
}

.social_media {
    padding-left: 50px;
}









